# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\u1258966\Dropbox\Research\Christian\Auditor Task Selection\3. Instrument\taskdiscretion_eng\taskdiscretion\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
